<footer>
	<address>
		<a href="{{i18n "common.bibliolink"}}" target="_blank" rel="noopener">{{i18n "common.hsglibrary"}}</a><br>
		Dufourstrasse 50<br>
		CH-9000 St.Gallen<br>
		<a href="mailto:bibliothek@unisg.ch" target="_blank" rel="noopener"><i class="fa fa-fw fa-envelope" aria-hidden="true"></i> bibliothek@unisg.ch</a><br>
		<a href="tel://+41 71 224 22 70"><i class="fa fa-fw fa-phone" aria-hidden="true"></i>+41 71 224 22 70</a>
	</address>
	<div class="social">
		<ul>
			<li><a href="https://wa.me/41798368776" target="_blank" rel="noopener"><i class="fa fw fa-whatsapp" aria-hidden="true"></i> WhatsApp Chat</a></li>
			<li><a href="https://www.instagram.com/hsglibrary/?hl=de" target="_blank" rel="noopener"><i class="fa fw fa-instagram" aria-hidden="true"></i> Instagram hsglibrary</a></li>
			<li><a href="https://www.youtube.com/c/HSGBibliothekSanktGallen" target="_blank" rel="noopener"><i class="fa fw fa-youtube" aria-hidden="true"></i>YouTube HSGBibliothekSanktGallen</a></li>
		</ul>
	</div>
</footer>
<div class="alma">
	Alma: mmsId {{mmsId}} / holdingId {{holdingId}} / <a href="/admin/reset">reset</a> / <a href="/admin/items">items</a>
</div>
