body {
	font-family: 'Lato', sans-serif;
	width: auto;
	margin: auto;
}

header {
	position: sticky;
		top: 0;
		background-color: #fff;
		z-index: 1;
	border-bottom: 1px solid #d0d0d0;
	padding: 10px 20px;
	display: flex;
	align-items: flex-start;
}

.logo {
	margin-top: 5px;
}

.logo img,
.logo picture {
	height: 41px;
}

nav {
	margin: 10px 0;
	display: flex;
	justify-content: flex-end;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;
	align-self: flex-end;
	width: 100%;
}

nav ul {
	display: flex;
	justify-content: flex-end;
	flex-wrap: nowrap;
	flex-direction: row;
	margin-left: 10px;
}

nav li {
	margin-left: 15px;
	font-size: 30px;
	width: 30px;
}

#search {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 100%;
}

#search input {
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	padding: 0 0 0 10px;
	border: none;
	background-color: #d0d0d0;
	outline: none;
	width: 70%;
	height: 45px;
	margin-right: -55px;
}

#search i {
	margin-left: 15px;
	font-size: 30px;
	width: 30px;
}

.lang-switch {
	font-weight: 700;
}

.de .lang-switch.de {
	display: none;
}

.en .lang-switch.en {
	display: none;
}

main {
	padding: 30px 20px;
}

h1 {
	font-weight: 300;
	font-size: 40px;
	line-height: 45px;
	margin-bottom: 25px;
}

.clickable {
	color: #282828;
	background-color: transparent;
	cursor: pointer;
}

.clickable:hover {
	color: #00802f;
	background-color: transparent;
}

a {
	color: #00802f;
	background-color: transparent;
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	color: #282828;
	background-color: transparent;
}

#items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center
}

@keyframes fadeIn {
	from {
		opacity: 0;
		margin-top: 20px;
	}

	to {
		opacity: 1;
		margin-top: 0;
	}
}

#items .tile {
	display: flex;
	flex-direction: column;
	margin-bottom: 5px;
	margin-right: 5px;
	width: 260px;
	height: 260px;
	opacity: 1;
	cursor: pointer;
}

#items .tile.initial {
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: 0.3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

#items .tile.hide {
	display: none;
}

#items .info {
	color: #fff;
	background-color: #00802F;
	padding: 10px;
	height: 25px;
	line-height: 23px;
}

#items .notAvailable .info {
	background-color: rgb(163 74 75);
	color: #fff;
}

#items .container {
	position: relative;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#items .info h2 {
	font-weight: 400;
	font-size: 16px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#items .description {
	background-color: #0A5F2D;
	color: #fff;
	font-weight: 300;
	line-height: 23px;
	padding: 15px;
	opacity: 0;
	margin: -10px 10px 10px;
	transition: all 0.2s ease-out;
}

#items .description.active {
	opacity: 1;
	margin-top: 10px;
	transition: all 0.2s ease-out;
}

#items .description .description-title {
	font-weight: 400;
}

#items .availability {
	position: absolute;
	left: 10px;
	bottom: 10px;
	color: #fff;
	font-weight: 300;
	font-size: 31px;
	background-color: #00802F;
	width: fit-content;
	padding: 5px;
}

#items .notAvailable .availability {
	background-color: rgb(163 74 75);
	color: #fff;
}

#items .details {
	position: absolute;
	font-family: Monaco, monospace;
	background-color: #FFF04B;
	font-size: 7px;
	padding: 10px;
	overflow: scroll;
	width: 240px;
	height: 197px;
}

footer {
	padding: 30px 20px 40px 20px;
	display: flex;
	flex-wrap: wrap;
	border-top: 1px solid #d0d0d0;
	font-weight: 300;
	font-size: 18px;
	line-height: 28px;
}

footer address {
	width: 280px;
	margin-bottom: 40px;
}

footer .social {
	margin-bottom: 40px;
}

.alma {
	font-weight: 300;
	font-size: 8px;
	color: #d0d0d0;
}

.alma a {
	font-weight: 300;
	font-size: 8px;
	color: #d0d0d0;
}

.error {
	padding: 10px;
	font-weight: 300;
	background-color: rgb(163 74 75);
	color: #fff;
}

.error h2 {
	font-size: 30px;
	margin-bottom: 15px;
}

.error p {
	line-height: 23px;
	margin-bottom: 15px;
}

.hide {
	display: none;
}

.visuallyHidden {
	font-size: 0;
	height: 0;
}

#info ul {
	font-weight: 300;
	line-height: 23px;
}

#info ul li i {
	font-size: 60%;
	vertical-align: middle;
	margin-top: -2px;
}

#info .infotext {
	font-weight: 300;
	line-height: 23px;
	margin: 30px 0;
}

#info a {
	text-decoration: underline;
}

/* Loader from: https://loading.io/css/ */
.lading-animation {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}

.lading-animation div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	animation: lading-animation 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #00802f transparent transparent transparent;
}

.lading-animation div:nth-child(1) {
	animation-delay: -0.45s;
}

.lading-animation div:nth-child(2) {
	animation-delay: -0.3s;
}

.lading-animation div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes lading-animation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* Desktop version */
@media (min-width: 768px) {
	header {
		flex-direction: row;
	}
}

/* Mobile version */
@media (max-width: 570px) {
	nav {
		flex-direction: column-reverse;
		align-items: end;
	}

	#search {
		margin-top: 20px;
	}

	#search input {
		width: 80%;
	}

	.main .logo img,
	.main .logo picture {
		height: 100px;
	}
}