<!DOCTYPE html>
<html>

<head>
	{{>views/head-common-partial}}
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="assets/js/jquery.toast.min.js"></script>
	<script type="text/javascript" src="assets/js/toast.js"></script>
	<script type="text/javascript" src="assets/js/worker.js"></script>

	<link rel="stylesheet" type="text/css" href="assets/css/jquery.toast.min.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/availabilityStyle.css" />

	<title>Availability Service</title>
</head>

<body>
	<div class="logo">
		<a href="https://www.unisg.ch/universitaet/bibliothek">
			<img src="assets/img/hsg-logo-de.svg" alt="HSG-Bibliothek">
		</a>
	</div>
	<header>Verfügbarkeit Kleinmaterialien</header>
	<nav>
		<ul id="navi">
			<li><a class="reload" href="/">&#10227;</a></li>
			<li><a class="info" href="/info">&#9432;</a></li>
		</ul>
	</nav>
	<div id="search">
		<input type="text" placeholder="Suche nach..." id="filter-search" />
	</div>
	<div id="loading">
		<div class="lading-animation">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
	<div id="items"></div>
	<footer>
		<address>
			<a href="https://www.unisg.ch/universitaet/bibliothek">HSG-Bibliothek</a> &bull;
			<a href="mailto:bibliothek@unisg.ch">bibliothek@unisg.ch</a> &bull;
			+41 71 224 22 70 &bull;
			Dufourstrasse 50 &bull;
			CH-9000 St.Gallen
		</address>
	</footer>
</body>

</html>