<!DOCTYPE html>
<html lang="de">

<head>
	{{>views/partials/head-common-partial}}
	<title>Gadgets | Bibliothek Universität St.Gallen</title>
</head>

<body class="js-load-gadgets">
	<header>
		<div class="logo">
			<a href="https://www.unisg.ch/universitaet/bibliothek">
				<img src="assets/img/hsg-logo-de.svg" alt="HSG-Bibliothek">
			</a>
		</div>
		<nav>
			<div id="search">
				<label for="js-search-input" class="hide">Suche</label>
				<input type="text" placeholder="Suche" id="js-search-input" />
				<span id="js-search-button" class="clickable search">
					<i class="fa fa-fw fa-search" aria-hidden="true"></i>
				</span>
			</div>
			<ul>
				<li><a class="clickable reload" href="/" title="reload"><i class="fa fa-fw fa-refresh" aria-hidden="true"></i></a></li>
				<li><a class="clickable info" href="/info" title="info"><i class="fa fa-fw fa-info" aria-hidden="true"></i></a></li>
			</ul>
		</nav>
	</header>
	<main>
		<h1 class="visuallyHidden" aria-label="Gadgets">Gadgets</h1>
		{{>views/partials/loader-partial}}
		<ul id="items" class="js-items">
			<!-- inject items here -->
		</ul>
		<div id="js-error" class="error hide">
			<h2>Fehler</h2>
			<p>
				Die verfügbaren Gadgets konnten nicht geladen werden. Bitte probieren sie es später nocheinmal.
			</p>
		</div>
	</main>
	{{>views/partials/footer-common-partial}}
</body>

</html>
