<!DOCTYPE html>
<html lang="de">
<head>
	{{>views/partials/head-common-partial}}
	<title>Verfügbarkeit Kleinmaterialien: Informationen | Bibliothek Universität St.Gallen</title>
</head>
<body>
	<header>
		<div class="logo">
			<a href="https://www.unisg.ch/universitaet/bibliothek">
				<img src="assets/img/hsg-logo-de.svg" alt="HSG-Bibliothek">
			</a>
		</div>
		<nav>
			<ul>
				<li><a class="clickable reload" href="/info" title="reload"><i class="fa fa-fw fa-refresh" aria-hidden="true"></i></a>
				</li>
				<li><a class="clickable back" href="/" titel="back"><i class="fa fa-arrow-left" aria-hidden="true"></i></i></a></li>
			</ul>
		</nav>
	</header>
	<main id="info">
		<h1>Ausleihbedingungen für Kleinmaterialien</h1>
		<ul>
			<li><i class="fa fw fa-chevron-right" aria-hidden="true"></i> Tagesausleihe: Rückgabe bis Schliessung gleichentags</li>
			<li><i class="fa fw fa-chevron-right" aria-hidden="true"></i> Gebühr verspätete Rückgabe: CHF 5.- pro Tag</li>
			<li><i class="fa fw fa-chevron-right" aria-hidden="true"></i> Bitte Ladekabel so rasch wie möglich wieder zurückbringen.</li>
		</ul>
		
		<p class="infotext">
		Vermissen Sie etwas bei unseren Kleinmaterialien? Schreiben Sie es auf unsere
		<a href="https://de.padlet.com/HSGBibliothek/Ideenwand" alt="Ideenwand" target="_blank"
			rel="noopener">Ideenwand!</a>
		<br>
		<br>
		Bei Fragen oder Anregungen steht Ihnen das Bibliothekspersonal gerne zur Verfügung. <br>
		<a href="https://www.unisg.ch/de/universitaet/bibliothek/ueberuns/oeffnungszeiten" target="_blank"
			rel="noopener">Öffnungszeiten der
			Bibliothek</a>
		</p>
	</main>
	{{>views/partials/footer-common-partial}}
</body>
</html>