<!DOCTYPE html>
<html>

<head>
	{{>views/head-common-partial}}
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="assets/css/availabilityStyle.css" />
	<title>Availability Service</title>
</head>

<body>
	<div class="logo">
		<a href="http://www.biblio.unisg.ch">
			<img src="assets/img/hsg-logo-de.svg" alt="HSG-Bibliothek">
		</a>
	</div>
	<header>Infos zur Ausleihe</header>
	<nav>
		<ul id="navi">
			<li><a class="reload" href="/info">&#10227;</a></li>
			<li><a class="back" href="/">&#8592</a></li>
		</ul>
	</nav>
	<div id="info">
		<p class="instructions">
			<b>Ausleihbedingungen für alle Kleinmaterialien:</b>
		<ul>
			<li>Tagesausleihe: Rückgabe bis Schließung gleichentags</li>
			<li>Gebühr verspätete Rückgabe: CHF 5.- pro Tag</li>
			<li>Bitte Ladekabel so rasch wie möglich wieder zurückbringen.</li>
		</ul>

		Vermissen Sie etwas bei unseren Kleinmaterialien? Schreiben Sie es auf unsere
		<a href="https://de.padlet.com/HSGBibliothek/Ideenwand" alt="Ideenwand" target="_blank">Ideenwand!</a></br>
		Bei Fragen oder Anregungen steht Ihnen das Bibliothekspersonal gerne zur Verfügung. <br>
		<a href="https://www.unisg.ch/de/universitaet/bibliothek/ueberuns/oeffnungszeiten">Öffnungszeiten der
			Bibliothek</a>
		</p>
	</div>
	<footer>
		<address>
			<a href="https://www.unisg.ch/universitaet/bibliothek">HSG-Bibliothek</a> &bull;
			<a href="mailto:bibliothek@unisg.ch">bibliothek@unisg.ch</a> &bull;
			+41 71 224 22 70 &bull;
			Dufourstrasse 50 &bull;
			CH-9000 St.Gallen &bull;
		</address>
	</footer>
</body>

</html>