<!DOCTYPE html>
<html lang="en">
<head>
	{{>views/partials/head-common-partial}}
	<title>Error 404</title>
</head>
<body>
	<div class="logo">
		<a href="https://www.unisg.ch/universitaet/bibliothek"><img src="../assets/img/hsg-logo-en.svg" width="180px"
				alt="HSG-Bibliothek"></a>
	</div>
	<br>
	<h1>404 Not Found</h1>
</body>
</html>