<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="assets/css/availabilityStyle.css" />
	<title>Error 404</title>
</head>
<body>
	<div class="logo">
		<a href="https://www.unisg.ch/universitaet/bibliothek"><img src="assets/img/hsg_logo_de.jpg" width="180px"
				alt="HSG-Bibliothek"></a>
	</div>
	<h1>404 Not Found</h1>
	
</body>
</html>